.center {
    overflow: unset;
}

div#head {
    height: auto;
    overflow: unset;
    position: unset;
    border-bottom: 0;
}

.buttons {
    float: left;
}

.buttons a.btn {
    margin: 20px 0px;
    padding: 8px;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.moduletable_lang {
    right: 0;
    position: absolute;
    z-index: 9;
    margin: 0;
    top: 88px;
}

a.logo {
    margin-right: 20px;
    position: absolute;
    top: 0;
    z-index: 9;
    width: 80px;
    margin-top: 14px;
}

a.button {
    margin: 0;
    margin-right: 10px;
    font-size: 12px;
    padding: 10px 5px;
}

ul.topSlider li {
    background-position: center;
    height: 280px;
}

h1 {
    font-size: 20px;
    margin: 0 0 15px 0;
    line-height: initial;
}

div#content .center {
}

form#filter select {
    width: 100%;
    margin: 10px 0;
}

div#slider-range {
    width: calc(100% - 44px);
    margin: 34px 22px 5px 22px;
    height: 14px;
}

.cart.blog .total table th {
    display: block;
}

.cart.blog .total table thead {
    display: block;
    width: calc(100% - 28px);
    float: left;
}

.rangeSlider {
    width: 100%;
}

.blog li td, .item table.addCart td,.total table td {
    display: block;
    width: 100%;
    float: left;
    padding: 0;
}

.blog li td a.img,.item table.addCart td img {
    width: 100%;
}

.blog li {
    width: calc(100% - 40px);
    float: left;
    margin-bottom: 20px;
}

.blog ul {
    width: 100%;
}

.blog li table, .item table.addCart,.total table {
    display: block;
}

.blog li table tbody, .item table.addCart tbody,.total table tbody {
    display: block;
}

.blog li table tr, .item table.addCart tr,.total table tr {
    display: block;
}

a.link h3 {
    width: 100%;
}

a.readmore {
    margin: 0 auto;
}

p.price {
    width: 100%;
    text-align: center;
}

.contacts {
    width: 100%;
    text-align: center;
}

.contacts a {
    padding: 9px;
}

.footerMenu ul {
    width: 100%;
    height: auto;
}

.footerMenu {
}

.footerMenu ul li a {
    margin: 0;
    padding: 5px 10px;
    float: left;
    width: calc(100% - 20px);
}

.footerMenu ul li {
    float: left;
    width: 100%;
    display: block;
}

div#footer .contacts a.mail {
    width: calc(100% - 35px);
    float: left;
    display: block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

div#footer .contacts a.mail img {
    float: none;
}

.buttons a.btn:hover:before, .contacts a.btn:hover:before {
    display: none;
}

.buttons a.btn:after, .contacts a.btn:after {
    display: none;
}

.buttons a.btn:hover, .contacts a.btn:hover {
}

.buttons a.btn:before, .contacts a.btn:before {
    display: none;
}

div#footer a.instagram.btn,div#footer a.facebook.btn,div#footer a.youtube.btn {
    float: none;
    margin: unset;
    height: auto;
    width: auto;
    position: unset;
    padding: 15px;
}

div#footer .contacts {
    margin-top: 10px;
}

div#footer .contacts a img {
    width: 22px;
    float: none;
    position: unset;
}

div#footer {
    height: auto;
    padding-bottom: 20px;
}

div#content {
    word-break: break-word;
    font-size: 14px;
    line-height: 20px;
}

div#selectBlock select {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.filter_container {
    margin-top: 10px;
}

.filter_container span.select_attr {
    width: 121px;
    margin: -1px;
}

ul.audio li, .oneTrack {
    margin: 0;
    width: calc(50% - 10px);
    margin-bottom: 10px;
    margin-right: 10px;
    min-height: auto;
    height: auto;
}

ul.audio {
    width: 100%;
}

.track {
    float: left;
    width: 100%;
    display: flex;
}

.track .wave {
    width: 160px;
    margin: 0px 14px;
    margin-bottom: 20px;
}

table.addCart {
    float: left;
    margin-top: 0;
    padding-bottom: 10px;
}

.item table.addCart td img {
    width: 180px;
    height: auto;
}

ul.videolist li {
    width: 100%;
    margin: 0;
    height: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #636363;
    padding-bottom: 30px;
}

ul.videolist li h3 {
    float: left;
    width: 100%;
}

ul.videolist {
    width: 100%;
    float: left;
}

.videos {
    float: none;
    margin: 0 auto;
}

p {
    line-height: unset;
}

.blog li:hover a, ul.audio li:hover a {
    color: unset;
}

ul li {
    line-height: 24px;
}

div#selectBlock {
    margin-bottom: 10px;
    float: left;
    margin-top: 10px;
}

a.goOrder {
    margin-top: 20px;
}

.blog ul.sounds {
    min-width: unset;
    margin-bottom: 20px;
    width: auto;
}

.blog ul.sounds li {
    width: 118px;
    margin: 0 5px;
    height: 100px;
}

.cart.blog p.price {
    float: left;
    width: 102px;
    margin: 0;
    margin-top: 5px;
    font-size: 22px;
}

.calculate {
    width: 146px;
    float: right;
}

.calculate button {
    height: 37px;
    width: 37px;
}

.calculate input {
    height: 32px;
    width: 40px;
}

.total table td {
    padding: 11px;
    margin-top: -1px;
    width: calc(100% - 20px);
}

.total table th {
    width: 100%;
    display: block;
}

.total table tr {
    width: 100%;
}

.total table thead {
    display: block;
    width: calc(100% - 28px);
    float: left;
    margin-top: 10px;
}

.total table tr.additional td[colspan="2"] {
    font-size: 16px;
}

tr.agree label span {
    float: right;
    font-size: 12px;
    margin: 0;
}

.total table tr.agree td label input {
    margin-right: 7px;
    margin-left: 0;
}

button.checkout {
    float: none;
    margin: 0 auto;
    display: block;
}

tr.agree label {
    margin-bottom: 20px;
}

div#cookies {
    height: auto;
}

div#cookies button.close {
    float: none;
    margin: 0 auto;
    display: block;
    margin-top: 24px;
}

span.ui-slider-handle i {
    margin-top: -21px;
}

span.ui-slider-handle.ui-state-default {
    width: 28px;
    height: 28px;
}

.ui-slider-range.ui-corner-all.ui-widget-header {
    height: 14px;
}

body.openForm .w100 {
    display: none;
}

div#form {
    position: absolute;
}

div#form form {
    width: calc(100% - 40px);
    border: none;
    border-radius: 0;
    margin: 0;
    height: 100vh;
}

.item .slick {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 30px;
    margin-bottom: 20px;
}

.item .slick img {
    float: none;
    margin: 0 auto;
    display: block;
}

ul.audio button, .oneTrack button {
    font-size: 15px;
}

.track .currentTime {
    font-size: 13px;
}

.track .fullTime {
    font-size: 13px;
}

ul.audio li h3 {
    font-size: 16px;
}

ul.audio li.limit p.error.checkbox {
    width: 140px;
    display: inline;
    text-align: center;
    margin: 20px 79px;
}

.more a.butt {
    display: none;
}

ul.audio li h3 {
    margin-top: 10px;
}

a.img {
    height: 160px;
}

.more {
    margin: 0;
}

.image img {
    width: 100%;
    height: auto;
}

.cartbox .price {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 26px;
}

.price b {
    font-size: 42px;
}

.controls {
    margin: 0;
    float: left;
}

button.addToCart {
    padding: 14px 0px;
}

h1 {
    font-size: 26px;
}

h3.hr {
    line-height: 30px;
}

ul.items li {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    min-height: auto;
}

ul.items {
    width: 100%;
}

.text-block {
    padding: 0 5px;
    width: calc(100% - 10px);
}

.video {
    margin: 10px 0;
}

.video iframe {
    height: 240px;
}

.complite .alert {
    width: calc(100% - 60px);
}

ul.items li h3 {
    height: auto;
    padding-bottom: 15px;
}

div#top .buttons {
    display: none;
}

div#top .buttons.top_menu {
    display: unset;
    float: right;
}

div#top .buttons.top_menu li.item-110, div#top .buttons.top_menu li.item-134, div#top .buttons.top_menu li.item-136, div#top .buttons.top_menu li.item-137 {
    display: none;
}

div#top a.phone.button {
    font-size: 22px;
}

div#top {
    height: 60px;
}

.lf a.logo.down {
    position: relative;
}

div#head .buttons {
    float: right;
}

div#head .buttons a.cart.btn {
    margin-right: 60px;
    margin-bottom: 10px;
    margin-top: -44px;
}

div#head .buttons .moduletable.top_menu {
    margin-left: -10px;
    width: calc(100% + 20px);
    height: 0;
    overflow: hidden;
}

.moduletable.top_menu ul.nav.menu.mod-list li {
    float: left;
    text-align: center;
    width: 100%;
}

div#head .buttons .moduletable.top_menu a.button {
    width: 100%;
    margin: 0;
    padding: 18px 0 15px 0;
    border-top: 1px solid #e6e6e6;
    height: auto;
}

.headerImage {
    display: none;
}

.pagination ul li {
    margin-bottom: 2px;
    float: none;
    display: inline-block;
}

.pagination ul {
    text-align: center;
    margin-top: 10px;
}

button.openMenu {
    position: absolute;
    right: 15px;
    top: 17px;
    z-index: 9;
}
