.center {
    width: 635px;
}

div#head .center {
    position: relative;
}

form.search {
    position: absolute;
    margin-top: 18px;
    z-index: 1;
    cursor: pointer;
    right: 0;
}

div#top .clock.button {
    display: none;
}

div#head .buttons ul.nav.menu a.button.catalog {
    font-size: 12px;
    padding-left: 0;
    padding: 18px 4px 41px 4px;
}

div#head .buttons ul.nav.menu a.button.catalog:before {
    position: relative;
    left: unset;
    top: unset;
    margin: 0 auto;
    display: block;
    margin-bottom: 4px;
}

form.search:before {
    left: 14px;
    top: 10px;
}

form.search:after {
}

.buttons.user {
    float: left;
    margin-left: 10px;
}

div#footer .left {
    width: 100%;
}

div#footer .right {
    width: 100%;
}

div#footer a.logo {
    margin-right: 40px;
}

.cartbox.min {
    width: 100%;
    position: unset;
    margin-top: 0;
}

.item .more {
    width: calc(100% - 60px);
    position: absolute;
    top: 60px;
    margin: 0 auto;
    float: none;
}

div#content .variability {
    width: 100%;
}

.cartbox nav.moduletable_list_related {
    display: none;
}

.right.params {
    width: 100%;
}

div#content nav.moduletable_list_cat.similar,div#content .mobile_related nav.moduletable_list_related {
    margin-top: 0;
    width: 100%;
    display: block;
}

.userData input {
    width: calc(100% - 90px);
}

.blog.cart .more {
    width: 270px;
}

p.articul {
    width: calc(100% - 425px);
}

.cart.blog p.countPrice {
    width: calc(100% - 426px);
    margin-top: 43px;
    margin-bottom: 17px;
}

.cart .rating {
    position: absolute;
    right: -190px;
    margin-top: 28px;
}

.shipment, .delivery, .payment {
    width: 585px;
}

div#content .cart .right {
    margin: 0;
    width: 100%;
}

.blog.cart .right .order p {
    width: calc(100% - 60px);
}

div#route {
    margin-left: 0;
}

div#footer .h3 {
    margin-top: 15px;
}

.mod-banners__item.banneritem {
    height: 292px;
}

.mod-banners.bannergroup {
    height: 300px;
}

.mod-banners.bannergroup img {
    width: 100%;
    height: 100%;
}

div#content .cartbox nav.moduletable_list_related ul {
    height: auto;
}

div#content .cartbox nav.moduletable_list_related ul li a.img {
    width: 37px;
}

div#head .buttons li a {
    display: none;
    margin: 0;
}

form.search {
    position: relative;
    width: calc(100% - 220px);
    margin-left: 15px;
}

form.search input {
    width: calc(100% - 92px);
    margin-left: 0;
    margin-top: 0;
}

div#head .buttons li a.button.catalog {
    display: block;
    margin: 20px 5px;
}

a.logo img {
    width: 130px;
    margin: 5px 0;
}

a.logo {
    margin-right: 15px;
}

.ajaxResults {
    margin-left: 0;
    width: calc(100% - 14px);
    left: 0;
}

.ajaxResults .search {
    width: calc(100% + 45px);
}

.goToFullSearch button {
    margin: 0 auto;
}

.down_panel {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 0 30px 10px rgba(17,17,17,.07);
}

span.tile {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 3px;
    font-size: 12px;
    color: #000;
}

.down_panel a.cart.btn {
    text-align: center;
    padding: 22px 0 18px 0;
    float: left;
    margin-top: 0;
    text-decoration: none;
    width: 70px;
    position: relative;
}

.down_panel a.cart.btn img {
    width: 20px;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 4px;
}

.cart_item_counter {
    top: -16px;
    right: 0;
    font-size: 9px;
}

.down_panel ul.nav.menu {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.overflowBox {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-top: 40px;
    z-index: 1;
    background-color: #fff;
}

.imgScrollSlider ul.imgSlider {
    width: 100%;
    margin-top: unset;
}

.imgScrollSlider ul.imgSlider a {
    height: 90px;
    margin: 0;
}

.item .image {
    float: none;
    margin: 0 auto;
    width: 280px;
    clear: both;
    margin-top: 160px;
}

.image img {
    width: 100%;
    height: auto;
}

.imgScrollSlider ul.imgSlider li {
    margin: 0 20px;
}

.overflowBox.desctop {
    display: none;
}

.item .availability.top {
    right: 30px;
    top: 20px;
    display: block;
    float: right;
    height: 13px;
}

.overflowBox.mobile {
    display: block;
}

.overflowBox.mobile button.arrow.up {
    transform: rotate(-90deg);
    left: unset;
    top: 20px;
}

.overflowBox.mobile button.arrow.down {
    transform: rotate(-90deg);
    bottom: unset;
    right: 0;
    left: unset;
    top: 20px;
}

.item .more button.addCompare,.item .more button.addFavorites {
    float: right;
    margin-right: 0;
    margin-left: 10px;
    font-size: 0;
    background-position: 12px center;
    background-size: 14px;
    width: 40px;
    padding: 0;
}

.item .more button.addFavorites {
    background-size: 20px;
    background-position: 9px center;
}

nav.moduletable_list_jkreviews {
    width: calc(100% - 58px);
    float: left;
    padding: 10px;
}

a.attach {
    width: 100px;
    height: 69px;
}

.review p {
    font-size: 13px;
    line-height: 15px;
    width: calc(100% - 170px);
}

.review .data {
    font-size: 14px;
}

.review .h5 {
    font-size: 15px;
    margin: 22px 0;
}

.review .avatar {
    width: 70px;
    height: 70px;
}

div#content .right ul.attachments {
    margin-left: 130px;
    margin-top: 0;
}

nav.moduletable_list_jkreviews .h2 {
    margin-top: 10px;
}

.review {
    margin-top: 20px;
}
