.blog li {
    width: calc(50% - 64px);
    margin: 0px 10px;
    margin-bottom: 20px;
}

.center {
    width: 640px;
}

div#content .center {
    width: 640px;
}

form#filter select {
    width: calc(50% - 20px);
}

ul.audio li, .oneTrack {
    width: calc(50% - 10px);
}

.rangeSlider {
    width: calc(100% - 10px);
}

.cart.blog li table {
    display: block;
}

.cart.blog li table tbody {
    display: block;
}

.track .wave {
    width: 166px;
    margin: 0px 14px;
    margin-bottom: 20px;
}

.cart.blog li table tr {
    display: block;
}

.cart.blog li td {
    display: block;
    width: 100%;
    float: left;
    padding: 0;
}

li.itemCart a.img {
    margin: 0 auto;
}

.cart.blog p.price {
    margin-bottom: 0;
    text-align: left;
    float: left;
    width: auto;
    margin: 12px 0;
    padding: 0;
}

.total table td {
    min-width: 70px;
}

ul.videolist li {
    width: 290px;
}

a.goOrder {
    display: block;
    width: 220px;
    margin: 0 auto;
    margin-top: 20px;
}

ul.setsList li {
    width: 312px;
}

ul.items li {
    width: 312px;
}

ul.items li a.img {
    height: 187px;
}

ul.items li h3 {
    height: 67px;
}

.pagination p.counter {
    text-align: center;
    float: left;
    width: 100%;
    margin: 10px 0;
}

.pagination {
    padding-top: 0;
}

.more a.butt {
    width: 150px;
}

div#head .buttons .moduletable.top_menu a.button {
    padding: 20px 0;
    margin: 4px 5px;
    font-size: 12px;
}

a.logo {
    width: 69px;
    margin-top: 17px;
    margin-right: 0;
}

div#head {
    height: 64px;
}

div#top a.button {
    font-size: 12px;
}

.image {
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.image img {
    height: 350px;
    width: auto;
}

.cartbox {
    width: 100%;
    margin-top: 20px;
    height: auto;
    margin-bottom: 10px;
}

.cartbox ul {
    min-height: auto;
}

.video {
    width: 100%;
    margin: 20px 0;
}

.video iframe {
    height: 335px;
}

.colors ul li {
    width: 209px;
}

.cart.blog li.itemCart td a.img {
    height: 220px;
    float: none;
}

.blog ul.filds {
    width: 100%;
    float: left;
    margin-bottom: 35px;
}

